{{ define "main" }}

<!-- blog post -->
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-5 mb-lg-0">
        <div class="row">
          {{ $paginator := .Paginate .Data.Pages }}
          {{ range $paginator.Pages }}
          <div class="col-md-6 mb-4">
            <article class="card">
              {{ if .Params.Image }}
              <img src="{{ .Params.Image | absURL }}" class="card-img-top" alt="{{ .Title | markdownify }}">
              {{ end }}
              <div class="card-body px-0">
                {{ range .Params.Categories }}
                <a href="{{ "categories/" | relLangURL }}{{ . | urlize | lower }}"
                  class="text-primary">{{ . | title | humanize }}</a>
                {{ end }}
                <a href="{{ .Permalink }}" class="h5 d-block my-3">{{ .Title | markdownify }}</a>
                <div class="mb-3">
                  <span>By {{ .Site.Params.Author }}</span>
                  {{ if not .Params.HideDate }}
                  <span class="border-bottom border-primary px-2 mx-1"></span>
                  <span>{{ .PublishDate.Format "02 January 2006" }}</span>
                  {{ end }}
                </div>
                <p class="card-text">{{ .Summary }}</p>
                <a href="{{ .Permalink }}" class="btn btn-outline-primary">read more</a>
              </div>
            </article>
          </div>
          {{ end }}
        </div>
      </div>
      <!-- sidebar -->
      <div class="col-lg-4">
        <!-- about -->
        <div class="widget">
          {{ range first 1 (where .Site.RegularPages "Type" "about")}}
          <h4 class="widget-title">{{ .Title | markdownify }}</h4>
          {{ if .Params.Image }}
          <img src="{{ .Params.Image | absURL }}" alt=""
            class="img-fluid author-thumb-sm d-block mx-auto rounded-circle mb-4">
          {{ end }}
          <p>{{ .Summary }}</p>
          <a href="{{ .Permalink }}" class="btn btn-outline-primary">Know More</a>
          {{ end }}
        </div>
        <!-- category -->
        <div class="widget">
          <h4 class="widget-title">Category</h4>
          {{- if isset .Site.Taxonomies "categories" }}
          {{- if not (eq (len .Site.Taxonomies.categories) 0) }}
          <ul class="list-unstyled">
            {{- range $name, $items := .Site.Taxonomies.categories }}
            <li><a
                href="{{ "categories/" | relLangURL }}{{ $name | urlize | lower }}">{{ $name | title | humanize }}</a>
            </li>
            {{- end }}
          </ul>
          {{- end }}
          {{- end }}
        </div>
        <!-- Tags -->
        <div class="widget">
          <h4 class="widget-title">Social</h4>
          {{- if isset .Site.Taxonomies "tags" }}
          {{- if not (eq (len .Site.Taxonomies.tags) 0) }}
          <ul class="list-inline">
            {{- range $name, $items := .Site.Taxonomies.tags }}
            <li class="list-inline-item"><a class="d-block p-2 bg-primary text-white"
                href="{{ "tags/" | relLangURL }}{{ $name | urlize | lower }}">{{ $name | humanize }}</a></li>
            {{- end }}
          </ul>
          {{- end }}
          {{- end }}
        </div>
        <!-- social -->
        <div class="widget">
          <h4 class="widget-title">Social</h4>
          <ul class="list-inline social-links">
            {{ range .Site.Params.social }}
            <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
            {{ end }}
          </ul>
        </div>
        <!-- advertisement -->
        <div class="widget">
          <img src="{{`images/promotion.png` | absURL}}" alt="" class="img-fluid">
        </div>
      </div>
      <!-- /sidebar -->

      <!-- pagination -->
      <div class="col-12 mt-5">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </div>
</section>
<!-- /blog post -->

{{ end }}